@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-body);
  color: var(--black);
  line-height: 1.4;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;

  &:focus {
    left: 0;
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid;
  }
}

hr {
  color: var(--darkGreen);
  background-color: var(--darkGreen);
  height: rem(2);
  margin-bottom: rem(60);
}