@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-body);
  color: var(--black);
  line-height: 1.4;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}