@use '../util' as *;

.hero {

  &__index {
    position: relative;
  }

  &__indexContent {
    font-family: var(--font-header);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    // width: rem(360);
    // height: rem(225);
    background-color: var(--darkBlue75);
    z-index: 899;
  }

  &__branding {
    width: rem(300);
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 30px 25px 20px;
    gap: 16px;
  }
}