@use '../util' as *;

.intro {
  margin-top: rem(40);
  margin-bottom: rem(60);
  text-align: center;

  h1 {
    color: var(--darkGreen);
    margin-bottom: rem(40);
  }

  @include breakpoint (small) {
    
    h1 {
      font-size: rem(30);
      line-height: rem(36);
      margin-bottom: rem(30);
    }
  }
}

.conf_tracks {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: rem(40);
  gap: rem(16);

  @include breakpoint-down(small) {
    flex-direction: column;
    gap: rem(24);
  }
}

.conference,
.pharmacy,
.trade-show {
  transition: filter .25s ease-in-out;
  filter: grayscale(0%);
}

.conference:hover,
.pharmacy:hover,
.trade-show:hover {
  filter: grayscale(100%);
}

a.track_link {
  font-family: var(--font-header);
  font-size: rem(24);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--darkGreen);
}

a.track_link:hover {
  color: var(--northernBlue);
}

.concert-index {
  display: flex;
  flex-direction: row;
  gap: rem(16);
  margin-bottom: rem(60);

  @include breakpoint-down(small) {
    flex-direction: column;
  }
}

.doyle-index {
  max-width: rem(490);
}

.index-info {
  background-color: var(--darkGreen);
  max-width: rem(700);
  width: 100%;
  padding: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(20);
}

