@use '../util' as *;

.fullWidth {

  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: rem(60);

    @include breakpoint-down(small) {
      display: block;
      height: 100%;
      overflow: visible;
      position: relative;
    }

    &--hotelBKGD {
      background-color: var(--darkGreen);
    }

    &--camps, 
    &--reverse {
      flex-direction: row-reverse;
    }

    &--innerWrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    &--text {
      width: 80%;
      text-align: left;

      @include breakpoint-down(small) {
        width: 100%;
      }
    }

    &--img {
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      flex: 1;
      height: rem(500);
      width: 50%;

      @include breakpoint-down(small) {
        height: rem(300);
        width: 100%;
      }
    }

    &--hotel {
      background-image: url('../img/hotel_entrance_2400x650.jpg');
    }
  }
}

.hotel {
  color: var(--white);
}

.fullWidth__section--textOuter {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fullWidth__section--textRight {
  justify-content: flex-end;
}